
/*#B3EB05*/


a:hover, .carousel-style-one.owl-theme .owl-controls .owl-nav div:hover, .button-green:hover, .account-dropdown a:hover, .mainmenu ul#nav > li:hover > a, .mainmenu ul#nav li ul.sub-menu > li:hover > a, .mainmenu ul#nav li ul.sub-menu li ul.inside-menu > li > a:hover, .search-form button[type="submit"], .mean-container .mean-nav ul li a:hover, .mean-container a.meanmenu-reveal, .single-item-text h4 a:hover, .single-latest-text > h3 a:hover, .single-product-text h4 a:hover, .single-event-item:hover h3 a, .subscribe-form > button:hover, .footer-list a:hover, .newsletter-two .subscribe-form > button:hover, .pagination-content.number .pagination li a, .single-teacher-text > h3 a:hover, .author-info > h4 a:hover, span.reply a, .sidebar-widget .single-teacher-text > h3 a:hover, .breadcrumb-bar a:hover, .recent-text > h4 a:hover, .related-tag .tags li a:hover, .link-social > a:hover, .shortcode-area i, .shortcode-area h3, .text-green, .header-top span.text-green, .slick-prev:hover:before, .slick-next:hover:before, .footer-widget-list li a:hover, .footer-container .social-links-three > a:hover  {
  color: #0073AD;
}
.header-top:before, .about-area:before, .newsletter-area:before, .mainmenu ul#nav > li > a:after, .mainmenu ul#nav.menu-white > li > a:after, .search-menu, .button-default:hover, .button-green, .about-area .button-default, .single-item .button-default, .button-large.button-default, .single-latest-item .button-default, .single-product-text .button-default, .single-event-item .button-default, .subscribe-form > button, .social-icons > a:hover, .footer-area, .newsletter-two, .pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a, .pagination-content.number .pagination li:first-child a, .pagination-content.number .pagination li:last-child a, .product-details-content .button-default, .product-details-content .social-links a:hover, .duration-title, h4.title:after, .tution-fee, .single-sidebar-widget .social-links a:hover, .single-sidebar-widget .tags li a:hover, .pagination-content .pagination, .news-details-content .social-links a:hover, .contact-form-area .button-default, .skill-bar-item .progress-bar, #scrollUp, .bg-green, .bg-blue:hover, .preview-2 .nivo-directionNav a.nivo-prevNav:hover::before, .preview-2 .nivo-directionNav a.nivo-nextNav:hover::before, .slider-three .preview-2 .nivo-controlNav a, .footer-widget-area.footer-widget-four  {
  background: #0073AD;
}
#particles-js, #particles-js.bg-color-1 {
    background-color: #0073AD;
}
.search-form, .single-item, .single-latest-text, .single-product-text, .single-event-text, .subscribe-form > button, .subscribe-form > button:hover, .pagination-content.number .pagination li a, .subscribe-form > button, .subscribe-form > button:hover, .pagination-content.number .pagination li a, .pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a, .product-details-content .social-links a:hover, .single-teacher-text, .single-course-details, .course-duration .text, .tutor-image > img, .single-sidebar-widget .social-links a:hover, .single-sidebar-widget .tags li a:hover, .single-sidebar-widget .single-item, .event-details-content .single-event-item, .recent-content-item > a, .quote-section, .news-details-content .social-links a:hover, .shortcode-area i, .shortcode-area h3, .border-green, .slider-three .nivo-controlNav a.active:before, .slider-three .nivo-controlNav a:hover:before {
  border-color: #0073AD;
}

.header-top:after, .about-area:after { 
    border-color: rgba(0, 0, 0, 0) #0073AD #0073AD rgba(0, 0, 0, 0);
}
.about-area:after, .newsletter-area:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0073AD #0073AD;
}
.slider-area::after, .overlay-light-fullwidth::after {
    background: rgba(134, 188, 66, 0.6) none repeat scroll 0 0;
}
.overlay-light-2-fullwidth:after, .semi-transparent  {
    background: rgba(134, 188, 66, 0.4) none repeat scroll 0 0;
}
.header-logo-menu.stick.semi-transparent, .gallery-img, .gallery-img .hover-effect  {
    background: rgba(134, 188, 66, 0.85) none repeat scroll 0 0;
}
.footer-img a:before {
    background: rgba(134, 188, 66, 0.9) none repeat scroll 0 0;
}
.single-teacher-image > a:after {
    background: rgba(134, 188, 66, 0.8) none repeat scroll 0 0;
}
.social-links > a:hover {
    background: #7a9757 none repeat scroll 0 0;
    border-color: #7a9757;
}
.single-study-widget > span:hover a {
    color: #0073AD !important;
}
.color-white1:hover{
    color: #0073AD !important;
}
a:hover {
    color: #0073AD;
}
li > a:hover {
color:black;

}
.Button-bg {
    background-color:#0073AD !important;
    border:none !important;
}
.Button-bg:hover {
    background-color:#2D3E50 !important;
    cursor:pointer;
   
}
.text-color {
    color: #0073AD !important;

}
.bg-bar {
    background-color: #0073AD !important;
}
.bg {
    background-color: #0073AD;
}
.post__button:hover {
    background-color: #0073AD !important;
}
.card-body > h4:hover {
    color: #0073AD;
}
.cbp-ntaccordion > li > :hover h3,
.cbp-ntsubaccordion > li > :hover h3 {
    color: #0073AD;
}
ul > li > span > a:hover {
    color: #0073AD;
}
.facultyul > a:hover{
    color: #0073AD !important;
    text-decoration:none;
}
.hyperlink:hover {
    color: #0073AD !important;

}
.hyperlink-jobs:hover {
    color: #0073AD !important;
}
.news-list-time > h3 > a:hover {
    color: #0073AD;
}
.single-study-widget > ul > li:hover {
    color: #0073AD !important;
}

.single-footer-widget > a :hover i {
    color: #0073AD !important;
}
.single-footer-widget > span:hover a {
    color: #0073AD;
}
.single-footer-widget > span > a :hover i {
    color: #0073AD;
}
.single-footer-widget > span:hover {
    color: #0073AD;
    cursor:pointer;
}
.lost-password > a:hover {
   color: #0073AD;
}
.card-Whyvu:hover {
    cursor: pointer;
    border-top: 1px solid #0073AD;
    border-right: 1px solid #0073AD;
    border-left: 1px solid #0073AD;
    border-bottom: 1px solid #0073AD;
}
.color {
    color: #0073AD !important;
}
.button-defaultf{
    background: #0073AD none;
}

.button-default-events{
    background: #0073AD none;
}
.button-default-VC {
    /*background: #2d3e50 none repeat scroll 0 0;*/
    background: #0073AD none repeat scroll 0 0;
}
.single-item {
    border-bottom: 3px solid #0073AD;
    border-top: 1px solid #0073AD;
    border-right: 1px solid #0073AD;
    border-left: 1px solid #0073AD;
    border-bottom: 1px solid #0073AD;
}
.single-item-text-info span {
   
    color: #0073AD;
 
}
.single-latest-text {
    border-bottom: 2px solid #0073AD;
}
.single-product-text {
   
    border-bottom: 3px solid #0073AD;
   
}
.person-frame-2::before {
    border: 10px solid #0073AD;
}
.person-frame-2 { 
    border: 1px solid #0073AD;
}
#custCarousel .carousel-indicators li.active img {
    border: 4px solid #0073AD;
}
.single-event-text {
   
    border-bottom: 2px solid #0073AD;
    
}
.subscribe-form > button {
    border: 2px solid #0073AD;
}
    .subscribe-form > button:hover {
        border: 2px solid #0073AD;
    }
.pagination-content.number .pagination li a {
    border: 1px solid #0073AD;
   
}
.single-teacher-text {
    border-bottom: 3px solid #0073AD;
}
.single-teacher-text-Adj {
    border-bottom: 3px solid #0073AD;
}
.single-course-details {
    
    border-bottom: 3px solid #0073AD;
   
}
.course-duration .text {
    border-bottom: 1px solid #0073AD;
    
}
.tutor-image > img {
    border: 2px solid #0073AD;
}
.single-sidebar-widget .single-item {
   
    border-bottom: 2px solid #0073AD;
}
event-details-content .single-event-item {
    border-bottom: 2px solid #0073AD;
}
.recent-content-item > a {
    border: 1px solid #0073AD;
    
}
.event-details-content .single-event-item {
    border-bottom: 2px solid #0073AD;
}
.quote-section {
    
    border-left: 2px solid #0073AD;
    
}
.shortcode-area i {
    
    border: 2px solid #0073AD;
    
}
.shortcode-area h3 {
    border: 1px dashed #0073AD;
    
}
.border-green {
    border-top: 3px solid #0073AD;
}
.welcome-about-text h4 {
    color: #0073AD;
}
.welcome-about-text .button-default {

    background-color: #0073AD;
}
.post__meta a {
    color: #0073AD;
}
post__button:hover {
    border: 1px solid #0073AD;
    color: #fff;
}
.testimonial__author-role {

    color: #0073AD;
}
.progress-bar {
   
    background: #0073AD;
    
}
.News-img {
    
    border: 1px solid #0073AD;
}
.thumbnail li a img {
   
    border: 2px solid #0073AD;
}
*::-webkit-scrollbar-thumb {
    background-color: #0073AD;
    
    border: 3px solid #0073AD;
}
.facmaxqualification-Adj::-webkit-scrollbar-thumb {
    background-color: #0073AD;
    
    border: 2px solid #0073AD;
}
.cbp-ntopen > span {
    color: #0073AD;
}
.active-heading-fac {
    color: #0073AD;
}
.heading-Fee :hover {
    color: #0073AD;
}
.HeadingColor {
    color: #0073AD !important;
}
.day {
   
    color: #0073AD;
    
}
.time > i {
    color: #0073AD;
}
.search-form {
    
    border-top: 1px solid #0073AD;
   
}
.time > span {
    color: #0073AD;
}
nav ul li:hover {
   
    background-color: #0073AD;
}
.activemainmenu {
    
    background-color: #0073AD !important;
}
.activesubmenu:hover a {
    
 color: #0073AD !important;
}
.activesubsubmenu:hover a {
    
 color: #0073AD !important;
}
nav ul li >:hover {
    /*color: #B9E684;*/
    /*color: #0073AD !important;*/

}
.active > a hover::after {
        color: #0073AD !important;
       
    }
 .accordion-item:hover {        
       
        color:#0073AD;
        
    }

 .accordion-item.active{ color:#0073AD }
.font-color {
color:#0073AD !important;
}
i:hover {
color:#0073AD;
}

.sizeimgfaculty > img {
     border-bottom-color:#0073AD !important;
    border-right-color:#0073AD !important;
    border-left-color:#0073AD !important;
    border-top-color:#0073AD !important;
    

    
}
.news-list-time > h3 > a > span {
   
    color:black !important;
}


input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-color: #0073AD;
}

.gsc-search-button input.gsc-search-button-v2,
.gsc-search-button-v2 {
    background-color:#0073AD !important;
}

.gsc-search-button input.gsc-search-button-v2, .gsc-search-button-v2 {
    background-color: #0073AD !important;
}
.gsc-search-button-v2 {
    
    background-color: #0073AD !important;
   
}

.dxtcActiveTab td.dxtc, .dxtcActiveTabWithTabPositionBottom td.dxtc, .dxtcActiveTabWithTabPositionLeft td.dxtc, .dxtcActiveTabWithTabPositionRight td.dxtc {
    white-space: nowrap;
  color: #0073AD !important;
}
#btnBack {
background-color:#0073AD !important;
}
.dxbButton {
color: #0073AD !important
}
.VUtreeView_3 {
color: #0073AD !important
}
.whuvutitle:hover h4 {
    color: #0073AD !important
}
.funfactor:hover h4 {
    color: #0073AD !important
}
.funfactor:hover h2 {
    
}
.activesubmenu img {
            content: url('menuicons/subMenuIcon.png');
        }

        .activesubmenu:hover i {
            content: url('menuicons/subMenuIcon.png');
        }

        .activesubmenu:hover img {
            content: url('menuicons/subMenuIcon.png');
        }

/*==========================================PDC==================================================================================*/

/*#Menu .header-top:after {
    background-color: #0073AD;
}

#Menu .header-top:before {
    background-color: #0073AD;
}*/
h6 > a:hover {
    color: #0073AD !important
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
    color: white !important;
    background-color: #0073AD !important;
}
.text-white:hover > span {
    color: #0073AD !important
}
.current > a:hover {
    color: #0073AD !important;
    background-color: none !important
}
.btn-primary {
    color: #fff;
    background-color: #0073AD !important;
    border-color: #0073AD !important;
}
b > a:hover {
    color: #0073AD !important
}
.list-inline-item :hover span {
    color: #0073AD !important
}